{
  "publishAt": "2026-09-01 09:00",
  "mediaType": "FEED",
  "image": "september-classes.jpg",
  "caption": "New classes for September!\n\nBook at sealevelhotyoga.com\n\n#sealevelhotyoga #hotyoga #seattleyoga"
}
